<!DOCTYPE html>
<html
  lang="es"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free">
  <head>
    {% include 'public/includes/head.html' %}
    <!---->
    {% block customCSS %} {% endblock %}
  </head>
  <body>
    {% include 'public/includes/pre_loader.html' %}
    <!---->
    {% include 'public/includes/navbar.html' %}
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        {% include 'public/includes/menu_sidebar.html'%}
        <div class="layout-page">
          <div class="content-wrapper">
            <div class="container-xxl flex-grow-1 container-p-y">
              {% include 'public/includes/messages.html' %}
              <!---->
              {% block body %}

              {% if dataLogin.rol == 1 %}
              <div>
                <h1>BIENVENIDO ADMINISTRADOR</h1>
                <p>¡Gracias por iniciar sesión como administrador!</p>
                <div class="d-flex justify-content-center align-items-center"></div>
                <span class="app-brand-data">
                  <img
                    class="logo img-fluid rounded-square" 
                    style="max-width: 10000px;" 
                    src="{{ url_for('static', filename ='./assets/img/centro.png') }}"
                    alt="data" />
                </span>
              </div>
            </div>
              {% endif %}
              {% if dataLogin.rol == 2 %}
              <div>
                <h1>BIENVENIDO USUARIO</h1>
                <p>¡Gracias por iniciar sesión como Usuario!</p>
                <div class="d-flex justify-content-center align-items-center"></div>
                <span class="app-brand-centro">
                  <img
                    class="logo img-fluid rounded-square" 
                    style="max-width: 10000px;" 
                    src="{{ url_for('static', filename ='./assets/img/centro.png') }}"
                    alt="centro" />
                </span>
              </div>
            </div>
              {% endif %}
              <!--fin del bloque-->
              {% endblock %}
            </div>

            <div class="content-backdrop fade"></div>
          </div>
        </div>
      </div>

      <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    {% include 'public/includes/js.html' %}
    <!--Custom JS-->
    {% block customJS %} {% endblock %}
  </body>
</html>
